*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .header_logo .navbar-brand{
  color: #fff;
}
.navbar-nav .nav-link.active {
  color: #fff;
}
.nav-link{
  color: rgb(255, 255, 255, 0.55)
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
}
/* .welcome_content{
  background-color: #F8F9FA;
} */
.icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  color: white;
  margin-top: -1.5rem;
  margin-bottom:  1.5rem;
}
.icon svg{
  height: 2rem;
  width: 2rem;
}
.row h2{
font-size: 1.5rem;
font-weight:  700;
}